<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style> 
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
        input[type=number] {-moz-appearance: textfield;/* Firefox */}
    </style> 
</head>

<body>
    <div class="container mx-auto p-4">

        <div class="flex items-center justify-center">
            <p class="text-3xl">ANALYSIS</p>
        </div>

        <div class="flex items-center justify-center p-4">
            <p class="text-lg uppercase">WALLET: {{ .Name }}</p>
        </div>

        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-400 dark:border-gray-300">
            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white uppercase">SUMÁRIO GERAL</h5>
            </div>

            {{$totalInvestedValue := .TotalInvestedValue}}
            {{$totalCurrentValue := .TotalCurrentValue}}

            <div class="flex items-center justify-between mb-4 pb-4">
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .TotalInvestedValue  }}</p></div>
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CURRENT: ${{ money .TotalCurrentValue }}</p></div>
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INCOME: {{ money .Income }}%</p></div>
            </div>

            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white uppercase">BOXES</h5>
            </div>


            {{ range .Boxes }}

                {{$boxCurrentValue := .CurrentValue}}

                <div class="pt-5">

                    <div class="flex items-center justify-between mb-4">
                        <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">{{ .Name }}</h5>
                    </div>

                    <div class="flex items-center justify-between mb-4">
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .InvestedValue  }}</p></div>
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CURRENT: ${{ money .CurrentValue }}</p></div>
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INCOME: {{ money .Income }}%</p></div>
                    </div>

                    <div class="flex items-center justify-between mb-4">
                        <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO WALLET INVESTED: {{ ratio .InvestedValue $totalInvestedValue }}%</p></div>
                        <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO WALLET CURRENT: {{ ratio .CurrentValue $totalCurrentValue }}%</p></div>
                    </div>

                    <div class="pl-5 pt-2">

                        <div class="flex items-center justify-between mb-4">
                            <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTIMENTOS</h5>
                        </div>

                        {{ range .FundsDetail }}

                            <div class="flex items-center justify-between mb-4">
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">{{ .Fund.Name }} ({{ .Fund.Flavor }})</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">SHARES: {{ .Shares }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">BOX RATIO: {{ ratio .Checkpoint.Value $boxCurrentValue }}%</p></div>
                            </div>
                            
                            <div class="flex items-center justify-between mb-4">
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .TotalInvestedValue }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CHECKPOINT: ${{ money .Checkpoint.Value }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INCOME: {{ money .Income }}%</p></div>
                                
                            </div>                          

                        {{ end}}

                    </div>

                </div>

            {{ end }}
        </div>
        
    </div>

</body>

</html>
