<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style> 
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
        input[type=number] {-moz-appearance: textfield;/* Firefox */}
    </style> 
</head>

<body>
    <div class="container mx-auto p-4">

        <div class="flex items-center justify-center">
            <p class="text-3xl">ANALYSIS</p>
        </div>

        <div class="flex items-center justify-center p-4">
            <p class="text-lg uppercase">WALLET: {{ .Name }}</p>
        </div>

        <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-400 dark:border-gray-300">
            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white uppercase">SUMÁRIO GERAL</h5>
            </div>

            {{$totalInvestedValue := .TotalInvestedValue}}
            {{$totalCurrentValue := .TotalCurrentValue}}

            <div class="flex items-center justify-between mb-4 pb-4">
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .TotalInvestedValue  }}</p></div>
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CURRENT: ${{ money .TotalCurrentValue }}</p></div>
                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO: {{ ratio .TotalCurrentValue .TotalInvestedValue }}%</p></div>
            </div>

            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white uppercase">BOXES</h5>
            </div>


            {{ range .Boxes }}

                {{$boxCurrentValue := .CurrentValue}}

                <div class="pt-5">

                    <div class="flex items-center justify-between mb-4">
                        <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">{{ .Name }}</h5>
                    </div>

                    <div class="flex items-center justify-between mb-4">
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .InvestedValue  }}</p></div>
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CURRENT: ${{ money .CurrentValue }}</p></div>
                        <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO: {{ ratio .CurrentValue .InvestedValue }}%</p></div>
                    </div>

                    <div class="flex items-center justify-between mb-4">
                        <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO WALLET INVESTED: {{ ratio .InvestedValue $totalInvestedValue }}%</p></div>
                        <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">RATIO WALLET CURRENT: {{ ratio .CurrentValue $totalCurrentValue }}%</p></div>
                    </div>

                    <div class="pl-5 pt-2">

                        <div class="flex items-center justify-between mb-4">
                            <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTIMENTOS</h5>
                        </div>

                        {{ range .FundsDetail }}

                            <div class="flex items-center justify-between mb-4">
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">{{ .Fund.Name }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">SHARES: {{ .Shares }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">BOX RATIO: {{ ratio .Checkpoint.Value $boxCurrentValue }}%</p></div>
                            </div>
                            
                            <div class="flex items-center justify-between mb-4">
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTED: ${{ money .TotalInvestedValue }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CHECKPOINT: ${{ money .Checkpoint.Value }}</p></div>
                                <div class="basis-1/3"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">INCOME: {{ money .Income }}%</p></div>
                                
                            </div>                          

                        {{ end}}

                    </div>

                </div>


            {{ end }}
        </div>



        <!-- {{ range .FundsDetail }}
        
            <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-400 dark:border-gray-300">
                <div class="flex items-center justify-between mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white uppercase">{{ .Fund.Name }}</h5>
                </div>
                
                <div class="flex items-center justify-between mb-4">
                    <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CNPJ: {{ .Fund.Cnpj }}</p></div>
                    <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">BANCO: {{ .Fund.Bank }}</p></div>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">BOX: {{ .Fund.Box }}</p></div>
                    <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">CATEGORIA: {{ .Fund.Flavor }}</p></div>
                </div>

                <hr class="p-2">

                <div class="flow-root">
                    <div class="flex items-center justify-between mb-4">
                        <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">INVESTIMENTOS</h5>
                    </div>
                    
                    <ul role="list">
                        {{ range .Investments }}
                        <li>
                            <div class="flex items-center justify-between mb-4 pl-5">
                                <div class="basis-1/2"><p class="text-x font-bold leading-none text-gray-900 dark:text-white uppercase">DATA: {{ .FormatDate }}</p></div>
                                <div class="basis-1/2"><p class="text-x font-bold leading-none text-gray-900 dark:text-white uppercase">VALOR: {{ .FormatValue }}</p></div>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>

                <hr class="p-2">

                <div class="flex items-center justify-between mb-4">
                    <h5 class="text-lg font-bold leading-none text-gray-900 dark:text-white uppercase">ÚLTIMO CHECKPOINT</h5>
                </div>

                <div class="flex items-center justify-between mb-4 pl-5">
                    <div class="basis-1/2"><p class="text-x font-bold leading-none text-gray-900 dark:text-white uppercase">DATA: {{ .Checkpoint.FormatDate }}</p></div>
                    <div class="basis-1/2"><p class="text-base font-bold leading-none text-gray-900 dark:text-white uppercase">VALOR: {{ .Checkpoint.FormatValue }}</p></div>
                </div>

            </div>

        {{ end }} -->
        
    </div>

</body>

</html>



<!-- <!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {{$fundsTotalAmount := .Funds.TotalAmount}}
    {{$fundsTotalValue := .Funds.TotalValue}}
    <div>CALCULO CARTEIRA: {{ .Name }}</div>
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 gap-4">
            <div class="border-solid border-2 border-sky-500 p-1 bg-slate-300">
                <p class="font-bold">Valor total investido: <span class="font-normal">R${{ money $fundsTotalAmount }}</span></p>
                <p class="font-bold">Valor total atual: <span class="font-normal">R${{ money $fundsTotalValue }}</span></p>
            </div>
        </div>

        <br>

        <div class="grid grid-cols-1 gap-4">
            {{ range $box := .Boxes }}
            <div class="border-solid border-2 border-sky-500 p-1 bg-slate-300">
                <p class="font-bold">Nome: <span class="font-normal">{{ $box.Name }}</span></p>
                <p class="font-bold">Valor investido: <span class="font-normal">R${{ money $box.Amount }}</span></p>
                {{ $ratioAmount := ratio $box.Amount $fundsTotalAmount }}
                <p class="font-bold">Proporção do valor investido: <span class="font-normal">{{ money $ratioAmount }}%</span></p>
                <p class="font-bold">Valor atual: <span class="font-normal">R${{money $box.Value }}</span></p>
                {{ $ratioValue := ratio $box.Value $fundsTotalValue }}
                <p class="font-bold">Proporção do valor atual: <span class="font-normal">{{ money $ratioValue }}%</span></p>
                
            </div>
            {{ end }}
        </div>
    </div>
</body>

</html> -->